 .logo img {
     max-width: 229px;
 }
 
 header.page-header {
     background: #052133;
     margin-bottom: 0px!important;
 }
 
 header.page-header .panel.wrapper {
     background-color: #052133!important;
     border-bottom: none!important;
 }
 
 .product-info-main .product.attribute.overview {
     display: none;
 }
 
 .product.data.items>.item.title>a:focus,
 .product.data.items>.item.title.active>.switch,
 .product.data.items>.item.title.active>.switch:focus,
 .product.data.items>.item.title.active>.switch:hover {
     outline: 0 none !important;
 }
 
 @media all and (min-width: 768px) {
     a#toggleNav {
         display: none !important;
     }
     .visible-xs {
         display: none !important;
     }
     body.cms-home div.magestore-bannerslider-standard {
         max-width: inherit !important;
         margin: 0 auto;
     }
     .product.data.items>.item.content {
         margin-top: 42px;
     }
     .cms-home header.page-header {
         margin-bottom: 10px;
     }
     .cms-home .keeler-categories-wrapper {
         margin-top: 0;
     }
 }
 
 @media all and (max-width: 767px) {
     .hidden-xs {
         display: none !important;
     }
     .visible-xs {
         display: block !important;
     }
     div.panel.header .header-social-wrap {
         width: 100% !important;
     }
     /* Navigation ***************************************/
     span.action.nav-toggle {
         display: none;
     }
     header.page-header .header.content {
         padding: 15px 15px 10px;
     }
     a#toggleNav {
         text-decoration: none;
         cursor: pointer;
         display: block;
         font-size: 0;
         left: 15px;
         position: absolute;
         top: 15px;
         z-index: 14;
     }
     a#toggleNav:before {
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         font-size: 28px;
         line-height: inherit;
         color: #757575;
         content: '\e609';
         font-family: 'luma-icons';
         vertical-align: middle;
         display: inline-block;
         font-weight: normal;
         overflow: hidden;
         speak: none;
         text-align: center;
     }
     a#toggleNav.expanded:before {
         content: '\e616';
         font-size: 24px;
     }
     .header-main-links-wrap {
         display: none;
     }
     .header-main-links-wrap.active {
         display: block;
     }
     /* Navigation ***************************************/
     /* Login ********************************************/
     .block-search {
         /*margin-right: 10px;*/
     }
     .header-user-wrap {
         /*display: flex;
        align-items: center;
        justify-content: center;*/
     }
     .header .header-links-wrap .header.links {
         display: block;
     }
     .header .header-links-wrap>.header.links>ul {
         /*padding: 0;
        margin: 0;*/
     }
     .header .header-links-wrap>.header.links>ul li.item {
         /*display: none;*/
     }
     .header .header-links-wrap .header.links li.authorization-link {
         /*margin: 10px 0 0 15px;
        display: inline-block;
        float: none;*/
     }
     .header .header-links-wrap .header.links li.authorization-link a {
         /*  position: relative;
        margin: 0 !important;
        font-size: 0;
        line-height: 1;*/
     }
     .header .header-links-wrap .header.links li.authorization-link a:before {
         /*  content: "\f2c0";
        color: #4c5163;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 21px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;*/
     }
     .block-search .block-content {
         margin-bottom: 8px;
     }
     .header .header-links-wrap .header.links {
         display: inline-block;
         width: 100%;
         text-align: center;
     }
     .header .header-links-wrap>.header.links>ul {
         padding: 0;
         margin: 0;
         float: none;
         display: inline-block;
     }
     .header .header-links-wrap .header.links li,
     .header .header-links-wrap>.header.links>ul li {
         margin-right: 10px !important;
         float: none;
         display: inline-block;
     }
     .cms-home .keeler-categories-wrapper {
         margin-top: 0;
     }
     /* Login ********************************************/
     .xs-50 {
         width: 50%;
     }
     .social-list.text-center {
         text-align: center;
         margin-bottom: 30px !important;
     }
     .f_logo {
         height: auto;
         width: 100%;
         max-width: 165px;
         padding-right: 10px;
     }
     .halma_f {
         border-left: 1px solid #ddd;
         padding-left: 25px;
     }
     .page-footer .footer.keeler-footer .container-fluid .row.row-logo {
         margin-bottom: 30px !important;
         display: flex;
         align-items: center;
     }
 }
 
 .checkout_sidebar_note {
     background-color: #F5F5F5;
     padding: 20px;
     margin-bottom: 20px;
     font-weight: bold;
     font-size: 13px;
 }
 
 @media(max-width: 767px) {
     .checkout_sidebar_note {
         padding: 20px 20px 0;
         margin-bottom: 0;
         font-size: 12px;
     }
 }
 
 @media (min-width: 768px) {
     .cart-summary .checkout_sidebar_note {
         padding: 20px 0 5px;
         border-bottom: 1px solid #ddd;
         margin-bottom: 0;
     }
 }
 
 @media (min-width: 1025px) {
     .page-header .header-main-links-wrap .main-links .item {
         margin-left: 80px !important;
     }
 }
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: landscape) {
     .page-header .header-main-links-wrap .main-links .item {
         margin: 0 15px !important;
     }
 }
 
 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait) {
     .header-main-links-wrap .main-links {
         padding-left: 0;
     }
     .page-header .header-main-links-wrap .main-links .item {
         margin: 0 15px !important;
     }
     .header-main-links-wrap .main-links .item a {
         font-size: 15px;
     }
 }
 /* BFB FORM - Make an enquiry ***************************************/
 
 .ordersample {
     display: block;
     width: 100%;
     font-weight: 400;
     line-height: 46px;
     background-color: #006cb5;
     color: #FFF !important;
     text-decoration: none;
     text-align: center;
     font-size: 20px;
     text-transform: uppercase;
     padding: 0 20px;
     max-width: 390px;
     margin: 0 0 20px;
 }
 
 button.ordersample:hover {
     background: #006cb5;
     border: 1px solid #006cb5;
     color: #FFF;
 }
 
 #bfb-form-containerbfb37,
 #bfb-form-containerbfb38 {
     display: none;
     position: fixed;
     z-index: 99;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgb(0, 0, 0);
     background-color: rgba(0, 0, 0, 0.4);
     align-items: center;
     justify-content: center;
     bottom: 0;
     right: 0;
 }
 
 #bfb-form-containerbfb37 .magezon-builder,
 #bfb-form-containerbfb38 .magezon-builder {
     background-color: #fefefe;
     margin: 0 auto;
     padding: 10px;
     border: 1px solid #888;
     width: 100%;
     max-width: 470px;
     position: relative;
 }
 
 #bfb-form-containerbfb37 .close3,
 #bfb-form-containerbfb38 .close {
     color: #aaa;
     font-size: 28px;
     font-weight: bold;
     position: absolute;
     top: -15px;
     right: 0px;
 }
 
 #bfb-form-containerbfb37 .close3:hover,
 #bfb-form-containerbfb37 .close3:focus,
 #bfb-form-containerbfb38 .close:hover,
 #bfb-form-containerbfb38 .close:focus {
     color: black;
     text-decoration: none;
     cursor: pointer;
 }
 
 #bfb-form-containerbfb37 .ordersample_box,
 #bfb-form-containerbfb38 .ordersample_box {
     margin-top: 15px;
     padding: 15px;
 }
 
 #bfb-form-containerbfb37 .bfb-form-success .bfb-form-success-content,
 #bfb-form-containerbfb38 .bfb-form-success .bfb-form-success-content {
     background-color: #fff !important;
 }
 /* BFB FORM - Make an enquiry ***************************************/